.body {
  min-width: 300px;
}

.input-small {
  max-width: 30px;
}

.input-normal {
  max-width: 100px;
}

.padding {
  padding: 5px;
}

.text-align-center {
  text-align: center;
}

/* Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}